In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#https://www.w3schools.com/python/pandas/ref_df_describe.asp
#histograms & box plots @ https://www.geeksforgeeks.org/box-plot-and-histogram-exploration-on-iris-data/
#adding legend https://www.geeksforgeeks.org/matplotlib-pyplot-legend-in-python/
import seaborn as sns
#import sys
#from datetime import datetime
#import csv
import pandas as pd
import plotly.express as px

# Introduction

## Read in C02 file and examine dataset

In [ ]:
df11 = pd.read_excel('C02 Nature Paper.xlsx',sheet_name='3.  Composite CO2' ,skiprows=range(6))
df11

In [ ]:
plt.plot(df11['EDC3_gas_a (yr)'],df11['CO2 (ppmv)'], label = 'Nature')
plt.legend()
plt.show()

In [ ]:
# Read the Excel file into a pandas DataFrame and exclude inital 14 rows
df12 = pd.read_excel('C02 IPCC Report.xlsx',sheet_name= 'CO2 Composite',skiprows=range(14))
df12

In [ ]:
df12.columns = df12.columns.str.lstrip()
df12.columns = df12.columns.str.rstrip()

In [ ]:
plt.plot(df12['Gasage (yr BP)'],df12['CO2 (ppmv)'],label = 'IPCC')
plt.legend()
plt.show()

In [ ]:
df11.dtypes

In [ ]:
df11.info()

Remove blank spaces at beginning and end of string https://stackoverflow.com/questions/41476150/remove-or-replace-spaces-in-column-names

### Comparision of both C02 Datasets

In [ ]:
plt.plot(df12['Gasage (yr BP)'],df12['CO2 (ppmv)'], label = 'Nature')
plt.plot(df11['EDC3_gas_a (yr)'],df11['CO2 (ppmv)'], label = 'IPCC')
plt.legend()
plt.show()

In [ ]:
df15=pd.read_csv('Mauna Loa CO2.csv',skiprows=range(43))
df15.head()

In [ ]:
df15.columns = df15.columns.str.lstrip()
df15.columns = df15.columns.str.rstrip()

In [ ]:
df15.dtypes

Converting Mauna Loa data to match format of Nature CO2 dataset

In [ ]:
base = 1950
df15['year'] = base - df15['year']

In [ ]:
df15

In [ ]:
plt.plot(df15['year'],df15['mean'])

In [ ]:
df15

In [ ]:
plt.plot(df15['year'],df15['mean'] ,label ='c02')

In [ ]:
#df15['year'] = abs(df15['year'])
#df15

In [ ]:
df15 = df15.rename(columns=(({'year':'EDC3_gas_a (yr)'})))
df15 = df15.rename(columns=(({'mean':'CO2 (ppmv)'})))

In [ ]:
df15.columns = df15.columns.str.lstrip()
df15.columns = df15.columns.str.rstrip()

In [ ]:
df15

comparing datasets before merging to ensure compatabillity

In [ ]:
df11.dtypes

In [ ]:
df15.dtypes

In [ ]:
merged = pd.concat([df15, df11])
merged = merged.drop(['unc'],axis =1)

In [ ]:
merged

In [ ]:
plt.plot(merged['EDC3_gas_a (yr)'],merged['CO2 (ppmv)'])
plt.show()

In [ ]:
merged.dtypes

In [ ]:
merged.describe()

In [ ]:
merged.info()

# Reading in Temperature data

In [ ]:
df14=pd.read_csv('Temp Data Jouzel.csv',encoding='Latin')
#df13=pd.read_csv('Deuterium.csv',delimiter=r"\s+")
df14

In [ ]:
def kelvin_to_celsius(temp):
    return temp - 273.15

In [ ]:
df14['celsius'] = df14['temp'].apply(kelvin_to_celsius)

In [ ]:
df14

In [ ]:
plt.plot(df14['EDC3béta'],df14['celsius'], label = 'Jouzel')
#plt.plot(df11['EDC3_gas_a (yr)'],df11['CO2 (ppmv)'], label = 'IPCC')
plt.legend()
plt.show()

In [ ]:
df13=pd.read_csv('Temp data NOAA.csv',skiprows=range(91),delimiter=r"\s+")
#df13=pd.read_csv('Deuterium.csv',delimiter=r"\s+")
df13

In [ ]:
#plt.plot(df14['EDC3béta'],df14['temp'], label = 'Nature')
plt.plot(df13['Age'],df13['Deuterium'], label = 'NOAA')
plt.legend()
plt.show()

In [ ]:
df13.describe()

In [ ]:
df13.dtypes

In [ ]:
plt.plot(df14['EDC3béta'],df14['celsius'], label = 'jOUZEL')
plt.plot(df13['Age'],df13['Temperature'], label = 'NOAA')
plt.legend()
plt.show()

# Read in Irish weather

In [ ]:
df16=pd.read_csv('Composite Rainfall Ireland.csv')
#df131=pd.read_csv('Composite Rainfall Ireland.csv',skiprows=range(91),delimiter=r"\s+")
#Composite Rainfall Ireland

In [ ]:
df16

In [ ]:
plt.plot(df16['Year'],df16['Median montly series'], label = 'Irish Temp')
plt.legend()
plt.show()

### above graph messy so going to get yearly average

In [ ]:
df16a=pd.read_csv('Composite Rainfall Ireland.csv')

In [ ]:
print(df16a.head())

In [ ]:
yearly_averages = df16a.groupby('Year')['Median montly series'].mean()
print(yearly_averages)

In [ ]:
plt.plot(yearly_averages, label='Yearly Averages')

In [ ]:
import matplotlib.pyplot as plt
plt.plot(yearly_averages, label='Yearly Averages')
# Plot the df.year values as a scatter plot

# Methane
https://data.world/datasets/methane

In [ ]:
df17=pd.read_csv('Methane.csv',encoding='Latin')
#df13=pd.read_csv('Deuterium.csv',delimiter=r"\s+")
df17

In [ ]:
#https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/epica_domec/edc-ch4-2008.txt
df18=pd.read_csv('methane2.csv',encoding='Latin',delimiter=r"\s+")

In [ ]:
df18.columns = df18.columns.str.lstrip()
df18.columns = df18.columns.str.rstrip()

In [ ]:
plt.plot(df17['gas age (edc3_gas_a)'],df17['CH4 mean'], label = 'Methane')
#plt.plot(df13['Age'],df13['Temperature'], label = 'NOAA')
plt.legend()
plt.show()

In [ ]:
df18.dtypes

In [ ]:
plt.plot(df18['Age'],df18['CH4_mean'], label = 'Methane')

In [ ]:
df16a

In [ ]:
#https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/epica_domec/edc3deuttemp2007.txt

#https://stackoverflow.com/questions/19632075/how-to-read-file-with-space-separated-values-in-pandas
#df1=pd.read_csv('summary.csv',delimiter=r"\s+")
#df1 = pd.read_csv("deter.csv",sep = " ")
#df1.describe()
#print(df1['Bag'])

In [ ]:
result=pd.concat([df11,df12,df13,df14,df15])
print(result)

In [ ]:
md= pd.concat([df11,df15],axis =1)
md

In [ ]:
#https://researchdatapod.com/how-to-solve-python-typeerror-object-of-type-dataframe-is-not-json-serializable/
import json
json_str = result.to_csv()
with open('data.json', 'w') as f:
    json.dump(json_str, f)

In [ ]:
merged1 = pd.concat([merged,df16,df17])

In [ ]:
merged1

In [ ]:
# #https://stackoverflow.com/questions/34926517/stop-sys-stdout-from-writing-to-a-text-file

https://stackoverflow.com/questions/16923281/writing-a-pandas-dataframe-to-csv-file

In [ ]:
plt.plot(df14['EDC3béta'],df14['celsius'], label = 'tEMP')
plt.plot(merged['EDC3_gas_a (yr)'],merged['CO2 (ppmv)'], label = 'C02')
plt.plot(df17['gas age (edc3_gas_a)'],df17['CH4 mean'], label = 'Methane')
plt.plot(df16['Year'],df16['Median montly series'], label = 'Irish Temp')
plt.legend()
plt.show()

In [ ]:
#https://stackoverflow.com/questions/16923281/writing-a-pandas-dataframe-to-csv-file
merged1.to_csv('combined_temp.csv', encoding='utf-8', index=False)

In [ ]:
#json_str = merged1.to_csv()

https://stackoverflow.com/questions/39257147/convert-pandas-dataframe-to-json-format

In [ ]:
#https://stackoverflow.com/questions/39257147/convert-pandas-dataframe-to-json-format
merged.to_json('combined_temps.json',orient='records')

In [ ]:
r = np.corrcoef(merged1["CO2 (ppmv)"],merged1["CH4 mean"])
r

In [ ]:
r = np.corrcoef(df11["CO2 (ppmv)"],df14["celsius"])
r

In [ ]:
plt.plot(df14['EDC3béta'],df14['celsius'], label = 'tEMP')
plt.plot(merged['EDC3_gas_a (yr)'],merged['CO2 (ppmv)'], label = 'C02')
plt.plot(df17['gas age (edc3_gas_a)'],df17['CH4 mean'], label = 'Methane')
plt.plot(df16['Year'],df16['Median montly series'], label = 'Irish Temp')
plt.legend()
plt.show()